
$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:  #000 !default;

$blue:    #1565c0 !default;
$indigo:  #674eec !default;
$purple:  #8445f7 !default;
$pink:    #ff4169 !default;
$red:     #c4183c !default;
$orange:  #fb7906 !default;
$yellow:  #ffb400 !default;
$green:   #17c671 !default;
$teal:    #1adba2 !default;
$cyan:    #00b8d85b !default;

// Options
$blueish-grey: #5A6169 !default;
$awesome-border-color: #dee2e6 !default;

$awesome-primary:       $blue !default;
$awesome-secondary:     $blueish-grey !default;
$awesome-success:       $green !default;
$awesome-info:          $cyan !default;
$awesome-warning:       $yellow !default;
$awesome-danger:        $red !default;
$awesome-light:         $gray-200 !default;
$awesome-dark:          $gray-900 !default;

// Transitions
$transition-duration:     250ms;

// Easings
$line-height-base: 1.5 !default;
$custom-control-gutter:   1.688rem !default;
$custom-control-spacer-x: 1rem !default;

$custom-control-indicator-size:       1.3rem !default;
$custom-control-indicator-bg:         $white !default;
$custom-control-indicator-bg-size:    50% 50% !default;
$custom-control-indicator-box-shadow: none !default;
$custom-control-indicator-border: 1px solid $border-color !default;

$custom-control-indicator-disabled-bg:       $gray-200 !default;
$custom-control-description-disabled-color:  $gray-600 !default;

$custom-control-indicator-checked-color:      $white !default;
$custom-control-indicator-checked-bg:         theme-color("primary") !default;
$custom-control-indicator-checked-box-shadow: none !default;

$custom-control-indicator-focus-box-shadow: $input-focus-box-shadow !default;

$custom-control-indicator-active-color:      $white !default;
$custom-control-indicator-active-bg:         lighten(theme-color("primary"), 35%) !default;
$custom-control-indicator-active-box-shadow: none !default;

// Custom checkbox
$custom-checkbox-indicator-border-radius: 2px !default;
$custom-checkbox-indicator-icon-checked: none !default;
$custom-checkbox-indicator-indeterminate-bg: theme-color("primary") !default;
$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color !default;
$custom-checkbox-indicator-icon-indeterminate: none !default;
$custom-checkbox-indicator-indeterminate-box-shadow: none !default;

// Custom radio
$custom-radio-indicator-border-radius: 50% !default;

// Custom switches (core)
$custom-switch-padding-left: 2.25rem !default;

// Custom toggle
$custom-toggle-width: 3.125rem !default;
$custom-toggle-height: 1.75rem !default;
$custom-toggle-border-width: 0.0625rem !default;
$custom-toggle-border: $custom-toggle-border-width solid $input-border-color !default;
$custom-toggle-background-color: $white !default;
$custom-toggle-border-radius: 100px !default;

$custom-toggle-focus-box-shadow: 0 .313rem .719rem rgba(theme-color("success"),.1), 0 .156rem .125rem rgba($black, .06) !default;

$custom-toggle-checked-background: theme-color("success") !default;
$custom-toggle-checked-border-color: $custom-toggle-checked-background !default;
$custom-toggle-checked-knob-background: $white !default;

$custom-toggle-knob-width: 1.25rem !default;
$custom-toggle-knob-height: 1.25rem !default;
$custom-toggle-knob-border-radius: 6.25rem !default;
$custom-toggle-knob-active-width: 1.625rem !default;

$custom-toggle-invalid-knob-background-color: #eb8c95 !default;
$custom-toggle-invalid-background-color: $white !default;

$custom-toggle-width-sm : 2.1875rem !default;
$custom-toggle-height-sm : 1.125rem !default;

$custom-toggle-knob-width-sm: .75rem !default;
$custom-toggle-knob-active-width-sm: 1rem !default;
$custom-toggle-knob-height-sm: .75rem !default;

$body-bg:       $white !default;
$body-color:    $blueish-grey !default;

// awesome
$sidebar_toggle_one_width: 80px;
$sidebar_toggle_two_width: 300px;
$o-font-size-base-touch: 12px;

// form
$o-form-lightsecondary: lighten($o-brand-secondary, 25%) !default;

// Side chatter
$o-chatter-min-width: 530px !default;
// Safest for the next value would be map-get($container-max-widths, lg) as it
// is the minimal width of the default form view design for md/lg sizes
$o-form-sheet-min-width: 990px !default;

// Home menu
$o-home-menu-container-size: 850px;
$o-home-menu-app-icon-max-width: 70px;
